<div ng-if="!socialHideControls">
  <ul class="nav nav-pills">
    <li class="social-filter-{{service}}" ng-class="{active: isServiceActive('all')}">
      <a class="text-gray" ng-click="switchService($event, 'all')" href="#"><i class="fa fa-th"></i></a>
    </li>
    <li ng-repeat="(service, obj) in services" ng-show="showServiceTab(service)" class="social-filter-{{service}}" ng-class="{active: isServiceActive(service)}">
      <a class="text-gray" ng-click="switchService($event, service)" href="#"><i class="fa {{obj.icon}}"></i><span class="sr-only">{{obj.name}}</span></a>
    </li>
  </ul>
</div>
<div class="card-columns {{columnClasses}}">
  <div ng-repeat="(key, item) in social track by item.id" class="feed-type-{{item.service}} card">
    <div class="social-card-header">
      <div class="post-link pull-left"><a ng-href="{{getPostUrl(item)}}" target="_blank"><i class="fa fa-{{item.service}}"></i></a></div>
      <div class="date" ng-if="item.date" class="social-date" date="{{item.date}}">{{item.date|date}}</div>
      <div class="account"><a target="_blank" ng-href="{{ getAccountUrl(item) }}">{{ getAccountTitle(item) }}</a></div>
    </div>
    <span class="img-top-buffer">
      <a ng-if="item.image" class="card-img-top-wrapper" ng-style="{'padding-top': item.styleAttr + '%'}" href="{{item.url}}" target="_blank">
        <img ng-style="{'margin-top': '-' + ( item.imgStyleAttr ? (item.imgStyleAttr + item.styleAttr) : item.styleAttr ) + '%'}" class="card-img-top" ng-src="{{item.image}}" />
      </a>
    </span>
    <div class="card-block" ng-if="item.text">
      <p class="card-text" 
        read-more 
        words 
        limit="40" 
        content="{{ toSafe(item.text, item.service) }}"></p>
    </div>
  </div>
</div>