<div class="row" ng-if="!socialHideControls">
  <div class="col-xs-6 col-sm-8">
    <ul class="nav nav-pills">
      <li class="social-filter-{{service}}" ng-class="{active: isServiceActive('all')}">
        <a class="text-gray" ng-click="switchService($event, 'all')" href="#"><i class="fa fa-th"></i></a>
      </li>
      <li ng-repeat="(service, obj) in services" ng-show="showServiceTab(service)" class="social-filter-{{service}}" ng-class="{active: isServiceActive(service)}">
        <a class="text-gray" ng-click="switchService($event, service)" href="#"><i class="fa {{obj.icon}}"></i><span class="sr-only">{{obj.name}}</span></a>
      </li>
    </ul>
  </div>
  
  <div class="col-xs-6 col-sm-4 text-right">
    <!--
    <a class="btn btn-xs btn-default" ng-click="recent()">Recent</a>
    <a class="btn btn-xs btn-default" ng-click="shuffle()">Shuffle</a>
    -->
    <a class="btn btn-default" href="/contact"><i class="fa fa-fw fa-comments"></i> Connect with us &raquo;</a>
  </div>
</div>
<div dynamic-layout items="social"></div>