<div ng-if="!socialHideControls">
  <ul class="nav nav-pills">
    <li class="social-filter-{{service}}" ng-class="{active: isServiceActive('all')}">
      <a class="text-gray" ng-click="switchService('all')" href="#"><i class="fa fa-th"></i></a>
    </li>
    <li ng-repeat="(service, obj) in services" ng-show="showServiceTab(service)" class="social-filter-{{service}}" ng-class="{active: isServiceActive(service)}">
      <a class="text-gray" ng-click="switchService(service)" href="#"><i class="fa {{obj.icon}}"></i><span class="sr-only">{{obj.name}}</span></a>
    </li>
  </ul>
</div>
<div class="card-columns {{columnClasses}}">
  <div ng-repeat="(key, item) in social track by item.id" class="feed-type-{{item.service}} card">
    <a ng-if="item.image" href="{{item.url}}" target="_blank">
      <img class="card-img-top" ng-src="{{item.image}}" />
    </a>
    <div class="card-block">
      <h4 ng-if="item.title" class="card-title">{{item.title}}</h4>
      <p class="card-text" ng-bind-html="toSafe(item.text, item.service)"></p>
      <a class="pull-right text-gray" ng-href="{{getPostUrl(item)}}" target="_blank"><i class="fa fa-{{item.service}}"></i></a>
      <div ng-if="item.date" class="social-date text-gray" date="{{item.date}}">{{item.date|date}}</div>
    </div>
  </div>
</div>